html
  head
    title= title
  body
    p Dear Agent,
    p Call with Customer ID: #{customer_id} and Customer Name: #{customer_name} scheduled on #{appointment_date} #{appointment_time}, please make sure to attend this call.
    p= "Thanks in advance,"
    p= "KFH-B Management."
